name: Test Macos

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  PKG_CONFIG_PATH: /opt/homebrew/opt/openssl/lib/pkgconfig/
  OPENSSL_PREFIX: /opt/homebrew/opt/openssl

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        redis_version: ["7.2", "7.4", "unstable"]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install toolchain (LLVM, OpenSSL, automake, libtool)
      run: |
        brew update
        brew install llvm openssl@3 automake libtool
    - name: Export build environment
      run: |
        echo "LIBCLANG_PATH=$(brew --prefix llvm)/lib" >> $GITHUB_ENV
        echo "PATH=$(brew --prefix llvm)/bin:$PATH" >> $GITHUB_ENV
        echo "OPENSSL_PREFIX=$(brew --prefix openssl)" >> $GITHUB_ENV
        echo "PKG_CONFIG_PATH=$(brew --prefix openssl)/lib/pkgconfig" >> $GITHUB_ENV
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Python test deps
      run: |
        python -m pip install -U pip
        python -m pip install git+https://github.com/RedisLabsModules/RLTest@60e3290 gevent "redis>=5"
    - name: install redis
      run: git clone https://github.com/redis/redis; cd redis; git checkout ${{ matrix.redis_version }}; BUILD_TLS=yes make install
    - name: Build the dependencies
      run: make build_deps
    - name: Default tests
      run: make run_tests
    - name: SSL tests
      run: make run_tests_ssl
